{% extends 'header.html' %}
    {% block content %}
    <div class="container bg-white" id="input">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row d-flex justify-content-center">
                <div class="col-3 text-center"><span class="fs-5">Input image:</span></div>
            </div>
            <div class="row d-flex justify-content-center p-2">
                <div class="col-3 shadow p-3 mb-5 bg-body rounded text-center">
                    <div class="p-1">
                        <img src="" alt="" srcset="" width="127px" class="" id="fileUploadControl">
                    </div>
                    <div class="p-1">
                        <input type="file" class="form-control-file btn btn-sm btn-primary" onchange="preview()" name="imageUpload">
                    </div>
                    <div class="p-1">
                        <input type="submit" name="submit" value="Submit" class="btn btn-sm btn-success" id="input_btn">
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% for message in messages %}
    <div class="alert alert-success" role="alert" id="alert">
        {{message}}
        <span id="close_anounce"><i class="fa-solid fa-xmark"></i></span>
    </div>
    {% endfor %}
    {% endblock %}