{% extends 'header.html' %}

{% load static %}

{% block content %}

<div class="container shadow p-3 mb-5 bg-body rounded">
    <div class="row d-flex justify-content-center">
        <div class="text-center p-1">
            <span class="fs-5">Query image</span>
        </div>
        <div class="col-2">
            <div>
                <img src="{{url}}" alt="" srcset="" width="100%">
            </div>
        </div>
    </div>
    <span class="fs-5">Output:</span>
    <hr style="width: 100%;">
    <div class="row d-flex justify-content-evenly">
        {% for result in results %}
        <div class="col-2" style="padding-top: 15px;">
            <div class="text-center"><span>d={{result.0|floatformat:3 }}</span></div>
            <img src="{% static result.1 %}" alt="" srcset="" width="100%">
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}